<div class="header" id="myHeader">
    <a href="/">Info</a>
        <div id="searchDiv">
            <input type="text" id="searchInput" placeholder="ابحث عن محاضر">
            <button id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    <button id="signBtn">تسجيل دخول</button>
</div>