@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-color: #ffffff;
    --bs-primary-blue: #3398cf;
  }

* {
    margin: 0;
    padding: 0;
    font-family: Rubik;
}

body {
    background-color: var(--background-color);
}


.header {
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header a {
    color: var(--bs-primary-blue);
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    width: 100px;
}

#searchDiv {
    width: 500px;
    display: flex;
    border: 1.5px solid var(--bs-primary-blue);
    background-color: var(--bs-primary-blue);
    border-radius: 10px;
    overflow: hidden;
}

#searchInput{
    background: var(--background-color);
    color: var(--bs-primary-blue);
    padding: 0 10px;
    width: 100%;
    outline: none;
    direction: RTL;
    border: none;
    border-radius: 0;
}

#searchDiv:focus-within{
    box-shadow: 0 0 3px 1px var(--bs-primary-blue);
}

#searchBtn {
    background: var(--bs-primary-blue);
    border: none;
    border-radius: 0;
    cursor: pointer;
    color: white;
}

#searchDiv i {
    padding: 12px;
    font-size: 16px;
    margin: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--bs-primary-blue);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--background-color);
}

#signBtn, #logoutBtn {
    background-color: var(--background-color);
    color: var(--bs-primary-blue);
    border: 2px solid var(--bs-primary-blue);
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
    transition-duration: .2s;
    width: 100px;
    
}

#signBtn:hover, #logoutBtn:hover {
    background-color: var(--bs-primary-blue);
    color: var(--background-color);
}

.instructorPage {
    width: 800px;
    height: fit-content;
    background-color: var(--background-color);
    border: 2px solid var(--bs-primary-blue);
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 0 10px 3px rgb(173, 173, 173);
    direction: RTL;
}

.instructorName {
    display: flex;
    align-items: center;
    color: var(--bs-primary-blue);
    gap: 10px;
    position: relative;
}


.instructorName i{
    font-size: 2em;
}


#AddInstructorBtn, #editInstructorBtn {
    background-color: var(--bs-primary-blue);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    transition-duration: .1s;
    font-size: 16px;
    max-width: 100px;
    min-width: 100px;
}


.optionsContainer {
    margin-right: auto;
}

#optionsBtn {
    background: none;
    border: none;
    color: var(--bs-primary-blue);
    cursor: pointer;
}

.dropdownOption {
    background-color: var(--background-color);
    border: 2px solid var(--bs-primary-blue);
    border-radius: 5px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    left: 0;
}

.dropdownOption ul{
    list-style-type: none;
    width: fit-content;
    height: fit-content;

}

.dropdownOption ul li{
    border-bottom: .01px solid gainsboro;
}

.dropdownOption ul li button{
    background: none;
    border: none;
    color: var(--bs-primary-blue);
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    text-align: right;
    font-weight: bold;
}

.dropdownOption ul li:last-child button{
    color: red ;
}


.dropdownOption ul li:hover{
    background-color: whitesmoke;
}

.dropdownOption ul li i{
    font-size: 16px;
    margin-left: 10px;
}


#optionsBtn:hover + .dropdownOption, .dropdownOption:hover {
    display: block; 
    visibility: visible;
}



.AddBtn:hover {
    box-shadow: 0 0 3px 1px var(--bs-primary-blue);
}


.dataGrid {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.gridItem {
    background-color: var(--background-color);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.300);
    border-radius: 5px;
    padding: 10px;
    min-height: 47px;
    color: var(--bs-primary-blue);
}

.gridItem .dataLabel {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gridItem h2 {
    margin-right: 10px;
    font-size: 16px;
}

.gridItem a {
    color: rgb(88, 192, 231);
}


.resultsList{
    height: fit-content;
    width: 500px;
    margin: 50px auto auto auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.resultsList li{
    display: flex;
    background-color: var(--background-color);
    color: var(--bs-primary-blue);
    border: 2px solid var(--bs-primary-blue);
    height: fit-content;
    border-radius: 10px;
    padding: 15px;
    gap: 10px;
    cursor: pointer;
    transition-duration: .2s;
}

.resultsList li:hover {
    background-color: var(--bs-primary-blue);
    color: var(--background-color);
}



.tableContainer {
    background-color: var(--background-color);
    margin-top: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.300);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px 0;
    overflow-x: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--bs-primary-blue) var(--background-color);
}

.table{
    width: fit-content;
    min-width: 800px;
}

.hoursRow ul {
    list-style-type: none;
    display: flex;
    width: 100%;
}

.hoursRow ul li{
    text-align: center;
    width: 100%;
    min-width: 100px;
    font-size: 12px;
    padding-bottom: 5px;
    border-right: 0.5px solid gainsboro;
    color: var(--bs-primary-blue);
}

.hoursRow ul li:first-child{
    border: none;
    width: 70px;
    min-width: 70px;
    max-width: 70px;
    position: sticky;
    right: 0;
    background-color: var(--background-color);
    opacity: 90%;
}

.daysRows {
    width: 100%;
    height: 60px;
    border-top: 0.5px solid gainsboro;
    display: flex;
}

.dayDiv {
    height: 100%;
    width: 70px;
    max-width: 70px;
    min-width: 70px;
    background-color: var(--background-color);
    position: sticky;
    border-left: 0.5px solid gainsboro;
    right: 0;
    z-index: 999;
    opacity: 90%;
}

.dayDiv p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bs-primary-blue);
}

.classRowDiv {
    width: 100%;
    padding: 5px 0;
    position: relative;
}

.eventDiv {
    position: absolute;
    background-color: var(--bs-primary-blue);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 50px;
    border-radius: 2.5px;
    font-size: 10px;
    box-shadow: 0 0 3px 1px rgb(173, 173, 173);
}

.deleteEventBtn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    border: 0.5px solid rgb(200, 200, 200);
    border-radius: 100%;
    padding: 2px 4px;
    font-size: 10px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.deletePage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background-color);
    border: 2px solid var(--bs-primary-blue);
    padding: 10px;
    text-align: center;
    color: var(--bs-primary-blue);
    border-radius: 5px;
    display: none;
}

.deletePage .buttonsRow {
    display: flex;
    column-gap: 10px;
    text-align: center;
    margin-top: 10px;
}

.deletePage .buttonsRow button {
    width: 100px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px ;
    background-color: var(--bs-primary-blue);
    color: white
}

#yesDelete {
    background-color: red;   
}


.instructorPage .gridItem input, .instructorName input{
    border:1.5px solid  rgb(200, 200, 200);
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.instructorPage input:focus {
    box-shadow: 0 0 2px .5px var(--bs-primary-blue);
}

.instructorPage input::placeholder {
    text-align: right;
    color: rgb(200, 200, 200);
}



.addEventContainer {
    display: flex;
    margin-top: 20px;
    height: fit-content;
    position: relative;
    justify-content: space-between;
}

.addEventContainer input{
    border: 1.5px solid var(--bs-primary-blue);
    border-radius: 5px;
    outline: none;
    height: 100%;
}

.addEventContainer input[type="text"]{
    padding: 5px;
}

.addEventContainer input[type="time"]{
    padding-left: 5px;
    color: var(--bs-primary-blue);
}

.weekDays-selector {
    background-color: var(--background-color);
    border: 1.5px solid var(--bs-primary-blue);
    width: fit-content;
    display: flex;
    border-radius: 5px;
    height: 100%;
}
  
.weekDays-selector input {
    display: none !important;
}
  
.weekDays-selector input[type=checkbox] + label {
    color: var(--bs-primary-blue);
    width: 50px;
    text-align: center;
    cursor: pointer;
    line-height: 25px;
    font-size: 12px;
}
  

.weekDays-selector input[type=checkbox]:not(:last-of-type) + label:not(:last-of-type) {
    border-left: 0.5px solid var(--bs-primary-blue);
}

.weekDays-selector input[type=checkbox]:checked + label {
    background: var(--bs-primary-blue);
    color: var(--background-color);
}

.weekDays-selector input[type=checkbox]:hover:not(:checked) + label {
    background: var(--bs-primary-blue);
    color: var(--background-color);
}

.eventInputDiv {
    display: flex;
    flex-direction: column;
}

.eventInputDiv > label{
    color: var(--bs-primary-blue);
    font-size: 12px;
    margin-bottom: 1px;
    text-align: right;
}

#AddEventBtn {
    background-color: var(--bs-primary-blue);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    transition-duration: .1s;
    width: 100px;
    font-size: 16px;
    height: 50%;
    margin-top: auto;
    
    
}

.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    border: 2px solid var(--bs-primary-blue);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.loginContainer input {
    border: 1.5px solid  var(--bs-primary-blue);
    color: var(--bs-primary-blue);
    margin-top: 20px;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;

}

.loginContainer button {
    background-color: var(--bs-primary-blue);
    color: var(--background-color);
    border: none;
    border-radius: 5px;
    padding:5px;
    cursor: pointer;
    transition-duration: .1s;
    width: 100%;
    font-size: 16px;
    height: 50px;
    margin-top: auto;
}

.loginContainer h1 {
    color: var(--bs-primary-blue);
    text-align: center;
}

.loginContainer a {
    color: var(--bs-primary-blue);
    text-align: center;
    margin-top: 10px;
}

#getAddInstructorPageBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bs-primary-blue);
    font-size: 24px;
    padding: 10px;
    border: none;
    color: var(--background-color);
    transition-duration: .2s;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .instructorPage {
        width: 80%;       
    }

    .dataGrid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .tableContainer {
        overflow-x: scroll;
    }

    #searchDiv {
        margin: 0 20px;
    }

    .resultsList {
        width: 90%;
    }

    .addEventContainer {
        overflow-x: scroll;
        gap: 10px;
    }
}