<div class="loginContainer">
    <h1>تسجيل الدخول</h1>
    <input id="username" dir="rtl" type="text" placeholder="اسم المستخدم">
    <input id="password" dir="rtl" type="password" placeholder="كلمة المرور">
    <a href="/signup">إنشاء حساب</a>
    <button id="loginBtn" class="AddBtn">تسجيل الدخول</button>
</div>