<ul class="resultsList" dir="rtl">
    <% searchResults.forEach(function(result) { %>
        <li  class="instructorResult">
            <i class="fa-solid fa-user"></i>
            <p class="resultName"><%= result.name %></p>
        </li>
    <% }); %>
</ul> 