<div class="loginContainer">
    <h1>تسجيل حساب</h1>
    <input id="username" dir="rtl" type="text" placeholder="اسم المستخدم">
    <input id="password" dir="rtl" type="password" placeholder="كلمة المرور">
    <button id="signupBtn" class="AddBtn">إنشاء حساب</button>
</div>